body{
    margin: 0%;
}
.fixed-position {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.navigation-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f1f1f1;
}
.nav-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav-right > div {
    text-align: right;
}
.nav-left > div {
    text-align: left;
}
.nav-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search-bar-block {
    width: 250px;
}
.basket-img {
    width: 20px;
}
.count {
    bottom: 0;
}
.username-block {
    width: 150px;
}
.login-button-block {
    width: 100px;
}
.category-title-block {
    position: sticky;
    top: 24px;
    background-color: white;
}
.category-title {
    text-align: center;
}
.category-hr {
    width: 80%;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product-container-onclick {
    display: none;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.basket-button {
    border-style: solid;
    border-color: black;
}
.product-container-onclick > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 20%;
    margin: auto;
}
.product-container-onclick > img {
    width: 150px;
    height: auto;
    margin: auto;
}
.product-container > span{
    text-align: center;
}
.product-container > img{
    width: 150px;
    height: auto;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-hr {
    width: 100%
}

